<template>
<div>
    <div class="header_content">
        <div class="space"><h2>Dictonary</h2></div>
        <Button size="large" type="primary" class="space_left border_class" @click="addModalClick"><Icon type="md-add-circle" /> Add</Button>
    </div>

    <Table class="border_class" :stripe="true" border :columns="columns7" :data="recordUnit">

    </Table>

            <!-- Add Modal -->
            <Modal
					v-model="addModal"
					title="Add Unit"
					:mask-closable="false"
                    :cloasable="false"
					width=500
                    >   
                    
                    Unit Name
                        <div class="space_top">
                            <Input 
                            v-model="addData.Unit" placeholder="Enter Unit Name..." style="width: 100%" 
                            
                            />
                        </div>

                        
                        <div class="space_top">
                            Word Count
                            <InputNumber :max="100" :min="1" v-model="addData.word_count"></InputNumber>
                            
                        </div>
                        


					<div slot="footer" >
						<Button type="default" @click="addModalCancel">Cancel</Button>
						<Button type="primary" @click="addModalOk">Ok</Button>
					</div>
	        </Modal>

            <!-- Edit Modal -->
            
</div>
</template>
<script>
    export default {
        data () {
            return {
                languages: [],
                addData: {
                    Unit: "",
                    word_count: 0,
                    languages:{
                        language1: null,
                        language2: null
                    },
                    addModalInput:{
                        items: [
                        {
                            language1: '',
                            language2: '',
                            index: 0,
                            status: 1
                        }
                    ]
                    },
                },
                
                addModal: false,
                addModalInputCount: 1,
                addModalInputCountDraft: 1,
                OldaddModalInputCount: 1,
                recordUnit: [
                    
                ],
                columns7: [
                    {
                        title: 'Unit',
                        key: 'unit',
                    },
                    {
                        title: 'Word Count',
                        key: 'word_count'
                    },
                    {
                        title: 'Action',
                        key: 'action',
                        width: 150,
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'large'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.show(params.index)
                                        }
                                    }
                                },[h('Icon',{props:{type:'md-create'}})], 'Edit'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'large'
                                    },
                                    on: {
                                        click: () => {
                                            this.remove(params.index)
                                        }
                                    }
                                },[h('Icon',{props:{type:'md-trash'}})], 'Delete')
                            ]);
                        }
                    }
                ],
                data6: [
                    {
                        name: 'John Brown',
                        age: 18,
                        address: 'New York No. 1 Lake Park'
                    },
                ]
            }
        },
        methods: {
            show (index) {
                this.$Modal.info({
                    title: 'User Info',
                    content: `Name：${this.data6[index].name}<br>Age：${this.data6[index].age}<br>Address：${this.data6[index].address}`
                })
            },
            remove (index) {
                this.data6.splice(index, 1);
            },
            
            addModalClick(){
                this.addModal = true    
            },
            
            addModalOk(){
                console.log(this.addData.languages.language2)
                this.recordUnit.push({
                    unit: this.addData.Unit,
                    word_count: this.addData.word_count
                })
                this.addModal = false
            },
            addModalCancel(){
                this.i("Cancel Add Window")
                this.addModal = false
            }

        },

        async created(){
            const res = await this.callApi("get", "user/get_languages")

            if(res.status == 200){
                this.languages = res.data
                
            }else{

            }
        }
    }
</script>

<style scoped>
    .header_content{
        margin: 5px;
        width: 100%;
        display: flex;
    }

    .border_class{
        
    }

    .border_class:hover{
        transition: all .3s;
        border: 2px solid #999;
        box-shadow: 0 0 5px #000;
        border-radius: 5px;
    }

    .space{
        margin: 5px;
    }
    .space_right{
        margin: 0 5px 0 0;
    }
    .space_left{
        margin: 0 0 0 5px;
    }
    .space_top{
        margin: 5px 0 0 0;
    }
    .space_bottom{
        margin: 0 0 5px 0;
    }

    .modal_footer_button{
        margin: 10px;
    }

    

</style>