<template>
<div class="demo-split" style="height:100%;">

    <Split v-model="split1" style="height:92%;">
        <div slot="left" class="demo-split-pane" style="height:100%;">
            <div class="header_content">
                <div class="space"><h3>Dictonary</h3></div>
                <Button  type="primary" class="space_left border_class" @click="UnitAddModalClick"><Icon type="md-add-circle" /> Add</Button>
                <Button  type="success" class="space_left border_class" @click="SelectedUnitClear"><Icon type="md-close-circle" /> Clear</Button>
            </div>
            <div style='height:100%; overflow-y: scroll; '>
            <RadioGroup v-model="SelectedUnit.id">
            <table  class="_table" style="width:100%;">
                <tr>
                    <th>Id</th><th>Unit</th> <th>Word</th> <th style="width: 195px;">Action</th>
                </tr>
                <tr v-for="(Unit, i) in UnitsDatas.data" :key="i" @click="SelectUnit(Unit, i, false)">
                    <td><Radio :label="Unit.id"><h5 v-show="false">{{i+1}}</h5></Radio></td>
                    <td>{{Unit.Unit}}</td>
                    <td>{{Unit.word_count}}</td>
                    <td>
                        <Button type="success" @click="TrainningModalClick(Unit, i)"><Icon type="md-barcode" /></Button>
                        <Button type="primary" @click="UnitEditModalClick(Unit, i)"><Icon type="md-create" /></Button>
                        <Button type="error" @click="UnitDeleteModalClick(Unit, i)"><Icon type="md-trash" /></Button>
                    </td>
                </tr>
                
            </table>
            
            <br><br>

            <h3>Other Units</h3>
            <table class="_table" style="width:100%;">
                <tr>
                    <th>Id</th><th>Unit</th> <th>Word</th> <th>Owner</th> <th style="width: 65px;">Action</th>
                </tr>

                <tr v-for="(Unit, i) in OtherUnitsData" :key="i" @click="SelectUnit(Unit[0], i, true)">
                    <td><Radio :label="Unit[0].id"><h5 v-show="false">{{i+1}}</h5></Radio></td>
                    <td>{{Unit[0].Unit}}</td>
                    <td>{{Unit[0].word_count}}</td>
                    <td>{{Unit[0].user.name}}{{Unit[0].user.id}}</td>
                    <td>
                        <Button type="success" @click="TrainningModalClick(Unit[0], i)"><Icon type="md-barcode" /></Button>
                    </td>
                </tr>

            </table>
            </RadioGroup>
            </div>
        </div>
        <div slot="right" class="demo-split-pane" style="height:100%;" v-if="SelectedUnit.Unit">
            <div class="header_content">
                <Button v-if="!SelectOtherUnit" type="primary" class="space_left border_class" @click="WordAddModalClick()"><Icon type="md-add-circle"  /> Add</Button>
                <div class="space"><h3>{{SelectedUnit.Unit}} {{SelectOtherUnit ?  SelectedUnit.author.name + SelectedUnit.author.id: ''}}</h3></div>
            </div>
            <div style='height:100%; overflow-y: scroll;'>
            <table v-if="!SelectOtherUnit" class="_table" style="width:100%;">
                <tr>
                    <th style="width:38%">
                        <Select size="small" v-model="SelectedUnit.language1" placeholder="Select Languages" @on-change="ChangeLanguage()">
                            <Option v-for="language in languages" :value="language.languages_name" :key="language.languages_name" >{{ language.languages_name}}</Option>
                        </Select>
                    </th>
                   <th style="width:38%">
                        <Select size="small" v-model="SelectedUnit.language2" placeholder="Select Languages" @on-change="ChangeLanguage()">
                            <Option v-for="language in languages" :value="language.languages_name" :key="language.languages_name" >{{ language.languages_name}}</Option>
                        </Select>
                   </th>
                   <th style="width: 130px;">Action</th>
                </tr>

                <tr v-for="(dictonary,i) in UnitsDatas.data[SelectedUnit.rec_id].dictonaries" :key="i">
                    <td>{{ dictonary.language1 }}</td>
                    <td>{{ dictonary.language2 }}</td>
                    <td>
                        <Button type="primary" @click="WordEditModalClick(dictonary, i)"><Icon type="md-create" /></Button>
                        <Button type="error" @click="WordDeleteModalClick(dictonary, i)"><Icon type="md-trash" /></Button>
                    </td>
                </tr>
            </table>

            <table v-if="SelectOtherUnit" class="_table" style="width:100%;">
                <tr >
                    <th style="width:50%">{{SelectedUnit.language1}}</th>
                    <th style="width:50%">{{SelectedUnit.language2}}</th>

                </tr>
                <tr v-for="(dictonary,i) in OtherUnitsData[SelectedUnit.rec_id][0].dictonaries" :key="i">
                    <td>{{ dictonary.language1 }}</td>
                    <td>{{ dictonary.language2 }}</td>
                </tr>
                </table>
               
            </div>

        </div>
    </Split>

            <!--Unit Add Modal -->
            
            <Modal
					v-model="UnitAddModal"
					title="Add Unit"
					:mask-closable="false"
                    :cloasable="false"
					width=500
                    >
                    Unit Name
                        <div class="space_top">
                            <Input ref="UnitAddModalInput" clearable v-model="UnitAddData.Unit" placeholder="Enter Unit Name..." style="width: 100%" :autofocus="true"/>
                        </div>
                    <div class="space_top">
                        <Checkbox v-model="UnitAddData.users">Allow everyone</Checkbox>
                    </div>
                    
					<div slot="footer" >
						<Button type="primary" @click="UnitAddModalOk">Ok</Button>
                        <Button type="default" @click="UnitAddModalCancel">Cancel</Button>
					</div>
                    
	        </Modal>

            <!--Unit Add Modal -->

            <!--Unit Edit Modal -->
            <Modal
					v-model="UnitEditModal"
					title="Edit Unit"
					:mask-closable="false"
                    :cloasable="false"
					width=500
                    >
                    Unit Name
                        <div class="space_top">
                            <Input  clearable v-model="UnitEditData.Unit" placeholder="Enter Unit Name..." style="width: 100%" />
                        </div>
                    <div class="space_top">
                        <Checkbox v-model="UnitEditData.users">Allow everyone</Checkbox>
                    </div>
					<div slot="footer" >
						<Button type="primary" @click="UnitEditModalOk">Ok</Button>
                        <Button type="default" @click="UnitEditModalCancel">Cancel</Button>
					</div>
	        </Modal>
            <!--Unit Edit Modal -->

            <!--Unit Delete Modal -->
            <Modal
					v-model="UnitDeleteModal"
					title="Delete Unit"
					:mask-closable="false"
                    :cloasable="false"
					width=500
                    >
                    Do you want to delete this {{UnitDeleteData.Unit}} ?
					<div slot="footer" >
						<Button type="error" @click="UnitDeleteModalOk">Ok</Button>
                        <Button type="default" @click="UnitDeleteModalCancel">Cancel</Button>
					</div>
	        </Modal>
            <!--Unit Delete Modal -->

            <!--Word Add Modal -->
            <Modal
					v-model="WordAddModal"
					title="New Words"
					:mask-closable="false"
                    :cloasable="false"
					width=500
                    >

                    <div class="space_bottom">
                                    <Button
                                        class="space"
                                        type="success"
                                        @click="WordAddModalInputAdd()"><Icon type="md-add-circle" />
                                        New Word
                                    </Button>
                    </div>
                    <div class="" v-for="(word , i) in WordAddModalData.words" :key="i">
                            <Input
                            clearable
                            v-model="WordAddModalData.words[i].language1"
                            class="space_top"
                            placeholder="Enter Word....."
                            style="width: 40%;float: left;"
                            />


                            <div style="width: 50%;float: right;" >
                                    <Input
                                    clearable
                                    v-model="WordAddModalData.words[i].language2"
                                    style="width: 75%;float: left;"
                                    class="space_top"
                                    placeholder="Enter Word Translation....."/>
                                    <Button
                                    style="width: 20%;float: right; margin:5px 0 0 5px"
                                    type="error"
                                    @click="WordAddModalInputDelete(WordAddModalData.words[i].index)"><Icon type="md-trash" /></Button>
                            </div>
                    </div>
					<div slot="footer" >
						<Button style="margin:10px;" type="primary" @click="WordAddModalOk">Ok</Button>
                        <Button style="margin:10px;" type="default" @click="WordAddModalCancel">Cancel</Button>
					</div>
	        </Modal>
            <!--Word Add Modal -->

            <!--Word Edit Modal -->
            <Modal
					v-model="WordEditModal"
					title="Edit Word"
					:mask-closable="false"
                    :cloasable="false"
					width=500
                    >
                        {{ SelectedUnit.language1 }}
                        <div class="space_top">
                            <Input clearable v-model="WordEditModalData.language1" :placeholder="'Enter  ' + SelectedUnit.language1 +' word...'" style="width: 100%" />
                        </div>
                        {{ SelectedUnit.language2 }}
                        <div class="space_top">
                            <Input clearable v-model="WordEditModalData.language2" :placeholder="'Enter  ' + SelectedUnit.language2 +' word...'" style="width: 100%" />
                        </div>
					<div slot="footer" >
						<Button type="primary" @click="WordEditModalOk">Ok</Button>
                        <Button type="default" @click="WordEditModalCancel">Cancel</Button>
					</div>
	        </Modal>
            <!--Word Edit Modal -->

           <!--Word Delete Modal -->
            <Modal
					v-model="WordDeleteModal"
					title="Delete Word"
					:mask-closable="false"
                    :cloasable="false"
					width=500
                    >
                    Do you want to delete this {{WordDeleteModalData.Unit}}`s {{ WordDeleteModalData.language1 }} - {{ WordDeleteModalData.language2 }} ?
					<div slot="footer" >
						<Button type="error" @click="WordDeleteModalOk">Ok</Button>
                        <Button type="default" @click="WordDeleteModalCancel">Cancel</Button>
					</div>
	        </Modal>
            <!--Word Delete Modal -->

            <!-- Trainning Unit Settings -->
                <Modal
                v-model="TrainningModal"
                title='Trainning'
                :mask-closable="false"
                :cloasable="false"
                >
                    <div>
                        <div v-if="TrainningModalData.Unit != null ">
                            {{ TrainningModalData.Unit.Unit }} Trainning <br>
                            {{ TrainningModalData.Unit.word_count }} Word <br><br>
                        </div>

                        Select Language <br>
                        <RadioGroup v-model="TrainningModalData.que_language" vertical class="space">
                            <Radio :label="SelectedUnit.language1">
                                <span>{{ SelectedUnit.language1 }} -> {{ SelectedUnit.language2 }}</span>
                            </Radio>
                            <Radio :label="SelectedUnit.language2">
                                <span>{{ SelectedUnit.language2 }} -> {{ SelectedUnit.language1 }}</span>
                            </Radio>
                        </RadioGroup>
                        <br><br>
                        Type Trainning<br>
                        <RadioGroup v-model="TrainningModalData.type" vertical class="space">
                            <Radio v-for="(type, i) in $store.state.TrainningType" :key="i" :label="i">
                                <span>{{ $store.state.TrainningType[i].name }}</span>
                            </Radio>
                        </RadioGroup>
                        <br><br>

                        <Checkbox v-model="TrainningModalData.correct_answer" class="space">To`g`ri Javobni ko`rsatib ketish</Checkbox>

                        <br><br>
                    </div>
                    <div slot="footer">
                            <router-link to="/trainning">
                                <Button type="success">Begin Trainning</Button>
                            </router-link>
                            <Button type="default" @click="TrainningModalCancel">Cancel</Button>
                    </div>
                </Modal>

</div>
</template>
<script>
    export default {
        data () {
            return {
                split1: 0.45,
                UnitsDatas: [],
                OtherUnitsData: [],
                UnitAddData: {
                    Unit: "",
                    users: false,
                },
                UnitAddModal: false,
                UnitEditData: {
                    id: null,
                    rec_id: null,
                    Unit: "",
                    users:false,
                },
                UnitEditModal: false,
                UnitDeleteData:{
                    id: null,
                    rec_id: null,
                    Unit: ''
                },
                UnitDeleteModal: false,

                languages: [],
                SelectedUnit: {
                    id: null,
                    rec_id: null,
                    Unit: null,
                    author: null,
                    unit_permission: null,
                    language1: null,
                    language2: null,
                },
                SelectOtherUnit: false,
                s_u_c: false, //SelectedUnitClear ishlaganda ChangeLanguage ishlamasligi uchun

                WordAddModal: false,
                WordAddModalData:{
                    unit_id: null,
                    words: [
                        {
                            index: 1,
                            language1: null,
                            language2: null
                        },
                    ],
                    last_word_index: 1
                },
                WordEditModal: false,
                WordEditModalData:{
                    id : null,
                    rec_id: null,
                    language1: null,
                    language2: null,
                },
                WordDeleteModal: false,
                WordDeleteModalData: {
                    id: null,
                    rec_id: null,
                    unit_id: null,
                    Unit: null,
                    language1: '',
                    language2: ''
                },
                TrainningModal: false,
                TrainningModalData: {
                    rec_id: null,
                    Unit: null,
                    que_language: null,
                    ans_language: null,
                    correct_answer: false,
                    type: null,
                }

            }
        },
        methods: {
            async TrainningModalClick(Unit, i){
                await this.SelectUnit(Unit, i)
                this.TrainningModalData.rec_id = i
                this.TrainningModalData.Unit = Unit
                this.TrainningModalData.que_language = Unit.language1

                this.TrainningModalData.ans_language = Unit.language2
                this.TrainningModalData.type = 0
                this.$store.state.StoreTrainningData = this.TrainningModalData
                this.TrainningModal =  true
            },
            TrainningModalCancel(){
                this.TrainningModal = false
                this.TrainningModalData = {
                    rec_id: null,
                    Unit: null,
                    que_language: null,
                    ans_language: null,
                    correct_answer: false,
                    type: null,
                }
            },



            UnitAddModalClick(){
                this.UnitAddModal = true
            },

            async UnitAddModalOk(){
                if(this.UnitAddData.Unit.trim() == '') return this.e("The UNIT field must be filled!!!")
                this.UnitAddModal = false

                const res = await this.callApi("post", "user/create_unit", this.UnitAddData)

                if(res.status == 201){
                    this.s("Successfully Completed!!!")
                    this.UnitsDatas.data.push({
                        id: res.data.unit.id,
                        Unit: res.data.unit.unit,
                        word_count: 0,
                        language1: res.data.unit.language1,
                        language2: res.data.unit.language2,
                        dictonaries: [],
                        unit_permission: {
                            id: 1,//Shu Id ni aniq qilib olib kelish kerak, bu yerga shunchai 1 qo`yilmoqda
                            permission: "all",
                            users: this.UnitAddData.users ? "0" : "-1"
                        }
                    })
                    this.UnitAddData= {
                        Unit: "",
                        users:false,
                    }
                }else{
                    this.UnitAddModal = true

                    if(res.status == 422){
                        this.e("The UNIT field must be filled!!!")
                    }else
                    if(res.status == 500){
                        this.e(res.data.msg)
                    }else
                    if(res.status ==403){
                        window.location = '/login'
                    }else{
                        this.swr()
                    }
                }
            },
            UnitAddModalCancel(){
                this.UnitAddData = {Unit: '', users:false}
                this.UnitAddModal = false
            },


            UnitEditModalClick(Unit, rec_id){
                this.UnitEditModal = true
                this.UnitEditData.id = Unit.id
                this.UnitEditData.rec_id = rec_id
                this.UnitEditData.Unit = Unit.Unit
                this.UnitEditData.users = Unit.unit_permission.users == "0" ? true : false;
            },
            async UnitEditModalOk(){
                if(this.UnitEditData.Unit.trim() == '') return this.e("The UNIT field must be filled!!!")
                this.UnitEditModal = false

                const res = await this.callApi("post", "user/edit_unit", this.UnitEditData)

                if(res.status == 200){
                    this.s("Successfully Completed!!!")
                    this.UnitsDatas.data[this.UnitEditData.rec_id].Unit = this.UnitEditData.Unit
                    this.UnitsDatas.data[this.UnitEditData.rec_id].unit_permission.users = this.UnitEditData.users == true ? 0 : -1;

                    this.UnitEditData= {
                        id: null,
                        rec_id: null,
                        Unit: "",
                        users:false,
                    }
                }else{
                    this.UnitEditModal = true

                    if(res.status == 422){
                        this.e("The UNIT field must be filled!!!")
                    }else
                    if(res.status == 500){
                        this.e(res.data.msg);
                    }else
                    if(res.status ==403){
                        window.location = '/login'
                    }else{
                        this.swr()
                    }
                }
            },
            UnitEditModalCancel(){
                this.UnitEditData = {Unit: '', users:false}
                this.UnitEditModal = false
            },


            UnitDeleteModalClick(Unit, rec_id){
                this.UnitDeleteModal = true
                this.UnitDeleteData.id = Unit.id
                this.UnitDeleteData.rec_id = rec_id
                this.UnitDeleteData.Unit = Unit.Unit
            },
            async UnitDeleteModalOk(){
                this.SelectedUnitClear()
                this.UnitDeleteModal = false
                const res = await this.callApi('post', 'user/delete_unit', this.UnitDeleteData)

                if(res.status == 200){
                    this.s("The unit was successfully deleted")

                    this.UnitsDatas.data.splice(this.UnitDeleteData.rec_id,1)
                    this.UnitDeleteData = {
                        id: null,
                        rec_id: null,
                        Unit: ''
                    }
                    this.SelectedUnitClear()
                }else{
                    this.UnitDeleteModal = true
                    this.swr()
                }
            },
            UnitDeleteModalCancel(){
                this.UnitDeleteModal = false
                this.UnitDeleteData = {
                    id: null,
                    rec_id: null,
                    Unit: ''
                }
            },


            SelectUnit(Unit, j, bool){
                this.SelectOtherUnit = bool
                this.SelectedUnit.id = Unit.id
                this.SelectedUnit.author = Unit.user
                this.SelectedUnit.rec_id = j
                this.SelectedUnit.Unit = Unit.Unit
                this.SelectedUnit.unit_permission = Unit.unit_permission
                this.SelectedUnit.language1 = Unit.language1
                if(Unit.language1 != Unit.language2){
                    this.SelectedUnit.language2 = Unit.language2
                }else{
                    for(let i=0;i<this.languages.length;i++){
                        if(this.languages[i] != Unit.language1 ){
                            this.SelectedUnit.language2 = this.languages[i].languages_name
                            break
                        }
                    }
                }
            },
            SelectedUnitClear(){
                this.s_u_c = true
                this.SelectedUnit= {
                    id: null,
                    rec_id: null,
                    Unit: null,
                    unit_permission: null,
                    language1: null,
                    language2: null,
                }
            },

            async ChangeLanguage(){
                if(this.SelectUnit.language1 !== null && this.SelectUnit.language2 !== null && !this.s_u_c){
                    const res = await this.callApi("post", "user/edit_unit_language", this.SelectedUnit)
                    this.UnitsDatas.data[this.SelectedUnit.rec_id].language1 = this.SelectedUnit.language1
                    this.UnitsDatas.data[this.SelectedUnit.rec_id].language2 = this.SelectedUnit.language2
                }
            },

            WordAddModalClick(){
                this.WordAddModal = true
                this.WordAddModalData.unit_id = this.SelectedUnit.id
            },
            WordAddModalInputDelete(index){
                    if(this.WordAddModalData.words.length > 1){
                    let del_id;
                    for(let i=0;i<this.WordAddModalData.words.length;i++){
                        if(this.WordAddModalData.words[i].index == index){
                            del_id = i
                        }
                    }
                    this.WordAddModalData.words.splice(del_id,1)
                }
            },
            WordAddModalInputAdd(){
                this.WordAddModalData.last_word_index++
                this.WordAddModalData.words.push({
                            index: this.WordAddModalData.last_word_index,
                            language1: null,
                            language2: null
                        })
            },
            async WordAddModalOk(){
                let post = true

                for(let i=0;i<this.WordAddModalData.words.length;i++){
                    if(this.WordAddModalData.words[i].language1 == null || this.WordAddModalData.words[i].language1 == ''){
                        post = false;
                        let y = i+1;
                        this.e("You did not enter a word in line " + y)
                    }
                    if(this.WordAddModalData.words[i].language2 == null || this.WordAddModalData.words[i].language2 == ''){
                        post = false;
                        let y = i+1;
                        this.e("You did not enter a translate word in line " + y)
                    }
                }

                if(post){
                    this.WordAddModal = false
                    const res = await this.callApi("post", "user/create_unit_words", this.WordAddModalData)
                    if(res.status == 201 ){
                        this.UnitsDatas.data[this.SelectedUnit.rec_id].word_count = res.data.word_count
                        for(let i=0;i<res.data.msg.length;i++){
                            this.UnitsDatas.data[this.SelectedUnit.rec_id].dictonaries.push(res.data.msg[i])
                        }
                        this.s("Successfully Completed!!!")
                        this.WordAddModalData = {
                            unit_id: null,
                            words: [
                                {
                                    index: 1,
                                    language1: null,
                                    language2: null
                                },
                            ],
                            last_word_index: 1
                        }
                    }else{
                        this.swr()
                        this.WordAddModal = true
                    }
                }
            },
            WordAddModalCancel(){
                this.WordAddModal = false
                this.WordAddModalData = {
                    unit_id: null,
                    words: [
                        {
                            index: 1,
                            language1: null,
                            language2: null
                        },
                    ],
                    last_word_index: 1
                }

            },


            WordEditModalClick(Word, i){
                this.WordEditModal = true
                this.WordEditModalData = {
                    id: Word.id,
                    rec_id: i,
                    language1: Word.language1,
                    language2: Word.language2
                }
            },
            async WordEditModalOk(){
                if(this.WordEditModalData.language1.trim() == '') return this.e("{{SelectedUnit.language1}} field is Empty!!!")
                if(this.WordEditModalData.language2.trim() == '') return this.e("{{SelectedUnit.language2}} field is Empty!!!")
                this.WordEditModal = false
                const res = await this.callApi('post', 'user/edit_unit_word', this.WordEditModalData)

                if(res.status == 200){
                    this.s("Successfully Completed!!!")
                    this.UnitsDatas.data[this.SelectedUnit.rec_id].dictonaries[this.WordEditModalData.rec_id] ={
                        language1: this.WordEditModalData.language1,
                        language2: this.WordEditModalData.language2
                    }
                    this.WordEditModalData = {
                        id : null,
                        rec_id: null,
                        language1: null,
                        language2: null,
                    }
                }else{
                    this.WordEditModal = true
                    this.swr()
                }
            },
            WordEditModalCancel(){
                this.WordEditModal = false
                this.WordEditModalData = {
                    id : null,
                    rec_id: null,
                    language1: null,
                    language2: null,
                }
            },

            WordDeleteModalClick(Word, i){
                this.WordDeleteModal = true
                this.WordDeleteModalData = {
                    id: Word.id,
                    rec_id: i,
                    Unit: this.SelectedUnit.Unit,
                    unit_id: this.SelectedUnit.id,
                    language1: Word.language1,
                    language2: Word.language2
                }
            },

            async WordDeleteModalOk(){
                const res = await this.callApi('post', 'user/delete_unit_word', this.WordDeleteModalData)
                this.WordDeleteModal = false
                if(res.status == 201){
                    this.s("Word Deleted Succesfully!!!")
                    this.UnitsDatas.data[this.SelectedUnit.rec_id].dictonaries.splice(this.WordDeleteModal.rec_id, 1)
                    this.UnitsDatas.data[this.SelectedUnit.rec_id].word_count = res.data.word_count
                    this.WordDeleteModalData = {
                        id: null,
                        rec_id: null,
                        unit_id: null,
                        Unit: null,
                        language1: '',
                        language2: ''
                    }
                }else{
                    this.WordDeleteModal = true
                    this.swr()
                }
            },
            WordDeleteModalCancel(){
                this.WordDeleteModal = false
                this.WordDeleteModalData = {
                    id: null,
                    rec_id: null,
                    unit_id: null,
                    Unit: null,
                    language1: '',
                    language2: ''
                }
            }

        },

        async created(){
            const res_lang = await this.callApi("get", "user/get_languages")
            const res_unit = await this.callApi('get', "user/get_units")
            const res_other_unit = await this.callApi('get', "user/get_other_units")

            if(res_lang.status == 200){
                this.languages = res_lang.data
            }else{

            }

            if(res_unit.status == 200){
                this.UnitsDatas = res_unit.data
                //console.log(this.UnitsDatas)
            }else{

            }
            // console.log(res_other_unit)
            if(res_other_unit.status == 200){
                this.OtherUnitsData = res_other_unit.data
                // console.log(this.OtherUnitsData)
                // console.log(this.OtherUnitsData[1][0].Unit)
            }else{

            }
        }
    }
</script>

<style scoped>

 /*TABLE*/
    ._table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    }

    ._table tr:first-child {
    background: #a7ccff;
    background: #0099ff;
    }
    ._table tr:first-child:hover{
    background: #0099ff;
    }
    ._table tr:hover, ._table tr:nth-child(even):hover {
    background: #ecf9ff;
    }
    ._table tr:nth-child(even) {
    background: #fff;
    }
    ._table tr th {
    border: 1px solid transparent;
    text-align: left;
    padding: 8px 13px;
    color: #fff;
    font-size: 13px;
    }
    ._table tr td {
    border: 1px solid #f3f3f3;
    text-align: left;
    padding: 8px 13px;
    min-width: 5px;
    font-size: 13px;
    }
    /*TABLE*/
    .header_content{
        margin: 5px;
        width: 100%;
        display: flex;
    }

    .border_class{

    }

    .border_class:hover{
        transition: all .3s;
        border: 2px solid #999;
        box-shadow: 0 0 5px #000;
        border-radius: 5px;
    }

    .space{
        margin: 5px;
    }
    .space_right{
        margin: 0 5px 0 0;
    }
    .space_left{
        margin: 0 0 0 5px;
    }
    .space_top{
        margin: 5px 0 0 0;
    }
    .space_bottom{
        margin: 0 0 5px 0;
    }

    .modal_footer_button{
        margin: 10px;
    }
    .demo-split{
        height: 200px;
        border: 1px solid #dcdee2;
    }
    .demo-split-pane{
        padding: 10px;
    }


</style>
