<template>
    <div>
        <div style='height:100%; overflow-y: scroll; '>
        <div v-show="!TrainningCardVisable"  style="height:80vh;">
            <div class="space"
            style="     box-shadow: 0 0px 10px #555;
                        margin: 20px 300px 10px 300px;
                        padding: 10px;
                        background: #fff;
                        border-radius: 5px;
                        height: 150px;"
            >

               <p style="text-align: center;"
               v-if="$store.state.StoreTrainningData.type != 1"
               >You have found {{ correct_answer_count }} words out of {{ count }}</p>
               <p style="text-align: center;"
               v-if="$store.state.StoreTrainningData.type == 1"
               >You try {{ count }} words in {{ attempt_count }} attempts
               <br><br>
               <div style="margin: 0 0 0 145px;">
               <Button size="large" type="primary" @click="ResultModal = true">View Result</Button>
               <br><br>
                <div>
                        <!-- <div style="float: left;">
                            <a @click="Return_Test()">Return Test</a>
                            <router-link to="/trainning">Return </router-link>
                        </div> -->

                        <div style="float: right;">
                            <router-link to="/dictonary">Back to Dictonary</router-link>
                        </div>
                </div>
               </div>
            </div>
            <Modal v-model="ResultModal"
					title="Add Unit"
					:mask-closable="false"
                    :cloasable="false"
					width=500
                    >
                    <table class="_table">
                        <tr>
                            <th>{{ que_language }}</th>
                            <th>{{ que_language != $store.state.StoreTrainningData.Unit.language1 ?
                            $store.state.StoreTrainningData.Unit.language1:
                            $store.state.StoreTrainningData.Unit.language2
                            }} </th>
                            <th>My Answer</th>
                            <th>Situation</th>
                        </tr>

                        <tr v-for="(q_word, i) in que_words" :key="i">
                            <td>{{ que_words[i] }}</td>
                            <td>{{ cor_words[i] }}</td>
                            <td>{{ ans_words[i].word }}</td>
                            <td>{{ ans_words[i].situation }}</td>
                        </tr>

                    </table>

                    <div slot="footer">
                        <Button type="primary" @click="ResultModal = false"> Ok </Button>
                    </div>
            </Modal>

        </div>
        </div>
        <div  style="float:left;width:80%;margin: 100px 0 0 0;">
        <Card v-show="TrainningCardVisable" :bordered="false" style="float:right;width:80%;height:320px;">
            <p slot="title">{{ $store.state.StoreTrainningData.Unit.Unit }} Trainning</p>

                <div style="float: left;width:45%;" class="space">
                    {{ que_language }}
                    <Input :readonly="true" v-model="que_word_input"/>
                </div>
                <div style="float: right;width:45%;" class="space">
                    {{ que_language != $store.state.StoreTrainningData.Unit.language1 ?
                    $store.state.StoreTrainningData.Unit.language1:
                    $store.state.StoreTrainningData.Unit.language2
                    }}
                    <Input :readonly="ans_words[word_id].situation != ''"  v-model="ans_word_input"/><br>
                    <p style="color: red;" v-if="correct_answer_visible && ans_words[word_id].situation == 'Incorrect'">Correct Asnwer: {{ cor_words[word_id] }}</p>
                    <p style="color: green;" v-if="ans_words[word_id].situation == 'Correct'">Correct Asnwer</p>
                    <p style="color: red;" v-if="!correct_answer_visible && (ans_words[word_id].situation == 'Incorrect' || ans_words[word_id].incorrect_count != 0 && ans_words[word_id].situation !='Correct')">Incorrect Asnwer</p>
                </div>
                <br><br><br><br>
                    <div style="float: left; width:45%;" class="space">
                        <div style="float: right;">
                            <Button type="primary" :disabled="word_id == 0" @click="PreviousButton()">Previous</Button>
                        </div>
                    </div>
                    <div style="float: right;width:45%;" class="space">
                        <Button type="primary" :disabled="word_id == count-1" @click="NextButton()">Next</Button>
                    </div>
                <br><br>
                <div style="float: right;20%" class="space">
                    <Button type="primary" :disabled="ans_words[word_id].situation != ''" @click="AcceptAnswer()">Accept Asnwer</Button>
                </div>
                <br><br><br>
                <div style="float: right;20%" class="space">
                    <Button type="error" @click="Finish_Trainning()">Finish Trainning</Button>
                </div>


        </Card>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            TrainningCardVisable: true,
            ResultModal: false,
            Dictonaries: null,
            count: null,
            accept_count: 0,
            attempt_count: 0,
            que_words: [],
            ans_words: [],
            cor_words: [],
            word_id: null,
            que_language: null,
            que_word_input: null,
            ans_word_input: null,
            ans_word_input_read: false,
            type: null,
            correct_answer: null,
            correct_answer_visible: null,
            correct_answer_count: 0,
            dict_lang_id: null,
            button_visible: true,
        }
    },

    methods: {
        PreviousButton(){
            this.ans_words[this.word_id].word = this.ans_word_input
            this.word_id = this.word_id - 1
            this.que_word_input = this.que_words[this.word_id]
            this.ans_word_input = this.ans_words[this.word_id].word
        },
        NextButton(){
            this.ans_words[this.word_id].word = this.ans_word_input
            this.word_id = this.word_id + 1
            this.que_word_input = this.que_words[this.word_id]
            this.ans_word_input = this.ans_words[this.word_id].word
        },
        AcceptAnswer(){
            if(this.$store.state.StoreTrainningData.type == 0){
                if(this.ans_word_input == this.cor_words[this.word_id]){
                    this.s("Correct Answer")
                    this.ans_words[this.word_id].situation = "Correct"
                }else{
                    this.e("Incorrect Answer")
                    this.ans_words[this.word_id].situation = "Incorrect"
                }
                this.accept_count++
                if(this.accept_count == this.count){
                    this.i('You wrote the answer to all the words')
                    this.i("Click Button 'Finish Trainning'")
                }

            }else
            if(this.$store.state.StoreTrainningData.type == 1){
                this.attempt_count++
                if(this.ans_word_input == this.cor_words[this.word_id]){
                    this.s("Correct Answer")
                    this.ans_words[this.word_id].situation = "Correct"
                    this.accept_count++
                }else{
                    this.e("Incorrect Answer")
                    this.ans_words[this.word_id].incorrect_count++
                }
                if(this.accept_count == this.count){
                    this.i('You wrote the answer to all the words')
                    this.i("Click Button 'Finish Trainning'")
                }
            }else
            if(this.$store.state.StoreTrainningData.type == 2){
                if(this.ans_word_input == this.cor_words[this.word_id]){
                    this.s("Correct Answer")
                    this.ans_words[this.word_id].situation = "Correct"
                }else{
                    if(this.correct_answer){
                        this.e("Incorrect Answer. Correct Word: " + this.cor_words[this.word_id])
                    }else{
                        this.e("Incorrect Answer")
                    }
                    this.Finish_Trainning()
                }
            }
        },
        Finish_Trainning(){
            for(let i = 0;i<this.count;i++){
                if(this.ans_words[i].situation == "Correct"){
                    this.correct_answer_count++
                }
            }
            this.ans_words[this.word_id].word = this.ans_word_input
            this.TrainningCardVisable = false
        },
        Return_Test(){

            // this.TrainningCardVisable= true
            // this.ResultModal= false
            // this.accept_count = 0
            // this.correct_answer_count = 0
            // this.ans_words1 = []
            // this.word_id = 0
            // if(this.dict_lang_id == 0){
            //     for(let i=0;i<this.Dictonaries.length;i++){
            //     this.que_words.push(this.Dictonaries[i].language1)
            //     this.ans_words1.push({
            //         'word': "",
            //         "situation": "",
            //         "incorrect_count": 0,
            //         "correct_count" : 0
            //         })
            //     this.cor_words.push(this.Dictonaries[i].language2)
            //     }
            // }else{
            //     for(let i=0;i<this.Dictonaries.length;i++){
            //     this.que_words.push(this.Dictonaries[i].language2)
            //     this.ans_words1.push({
            //         'word': "",
            //         "situation": "",
            //         "incorrect_count": 0,
            //         "correct_count" : 0
            //         })
            //     this.cor_words.push(this.Dictonaries[i].language1)
            //     }
            // }
            // this.ans_words = this.ans_words1
            // this.que_word_input = this.que_words[this.word_id]
            // this.ans_word_input = this.ans_words[this.word_id].word
            // this.correct_answer_visible = this.correct_answer && this.$store.state.StoreTrainningData.type != 1

        }
    },

    created(){
        if( this.$store.state.StoreTrainningData == null) { window.location = '/dictonary'}
        this.Dictonaries = this.$store.state.StoreTrainningData.Unit.dictonaries
        this.count = this.Dictonaries.length
        this.que_language = this.$store.state.StoreTrainningData.que_language
        this.dict_lang_id = this.$store.state.StoreTrainningData.Unit.language1 == this.que_language ? 0 : 1;
        this.type = this.$store.state.StoreTrainningData.type
        this.correct_answer = this.$store.state.StoreTrainningData.correct_answer

        this.word_id = 0
        if(this.dict_lang_id == 0){
            for(let i=0;i<this.Dictonaries.length;i++){
               this.que_words.push(this.Dictonaries[i].language1)
               this.ans_words.push({
                   'word': "",
                   "situation": "",
                   "incorrect_count": 0,
                   "correct_count" : 0
                })
               this.cor_words.push(this.Dictonaries[i].language2)
            }
        }else{
            for(let i=0;i<this.Dictonaries.length;i++){
               this.que_words.push(this.Dictonaries[i].language2)
               this.ans_words.push({
                   'word': "",
                   "situation": "",
                   "incorrect_count": 0,
                   "correct_count" : 0
                })
               this.cor_words.push(this.Dictonaries[i].language1)
            }
        }
        this.que_word_input = this.que_words[this.word_id]
        this.ans_word_input = this.ans_words[this.word_id].word
        this.correct_answer_visible = this.correct_answer 
    }
}
</script>
<style scoped>
/*TABLE*/
    ._table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    }

    ._table tr:first-child {
    background: #a7ccff;
    background: #0099ff;
    }
    ._table tr:first-child:hover{
    background: #0099ff;
    }
    ._table tr:hover, ._table tr:nth-child(even):hover {
    background: #ecf9ff;
    }
    ._table tr:nth-child(even) {
    background: #fff;
    }
    ._table tr th {
    border: 1px solid transparent;
    text-align: left;
    padding: 8px 13px;
    color: #fff;
    font-size: 13px;
    }
    ._table tr td {
    border: 1px solid #f3f3f3;
    text-align: left;
    padding: 8px 13px;
    min-width: 5px;
    font-size: 13px;
    }
    /*TABLE*/
    .header_content{
        margin: 5px;
        width: 100%;
        display: flex;
    }

    .border_class{

    }

    .border_class:hover{
        transition: all .3s;
        border: 2px solid #999;
        box-shadow: 0 0 5px #000;
        border-radius: 5px;
    }

    .space{
        margin: 5px;
    }
    .space_right{
        margin: 0 5px 0 0;
    }
    .space_left{
        margin: 0 0 0 5px;
    }
    .space_top{
        margin: 5px 0 0 0;
    }
    .space_bottom{
        margin: 0 0 5px 0;
    }

    .modal_footer_button{
        margin: 10px;
    }
    .demo-split{
        height: 200px;
        border: 1px solid #dcdee2;
    }
    .demo-split-pane{
        padding: 10px;
    }


</style>
