<template>
<div v-on:keyup.enter="handleSubmit('formInline')">

    <div  style="
    border:1px solid #aaa;
    border-radius:2px;
    box-shadow: 0 0 10px;
    width:350px; 
    margin: 200px 0 0 500px; 
    padding:10px;
    ">

        <div>
            <div>
                <router-link to="/register" style="float: right;margin: 0 5px 0 0">
                        Register
                </router-link>
            </div>
           <Form ref="formInline" :model="formInline" :rules="ruleInline" inline>
                <FormItem prop="email">
                    <Input  type="text" v-model="formInline.email" placeholder="E-mail" :autofocus="true">
                        <Icon type="ios-person-outline" slot="prepend"></Icon>
                    </Input>
                </FormItem>
                
                <br>
                <FormItem prop="password">
                    <Input type="password" v-model="formInline.password" placeholder="Password">
                        <Icon type="ios-lock-outline" slot="prepend"></Icon>
                    </Input>
                </FormItem>
                <FormItem>
                    <Button :disabled="wait" type="primary" @click="handleSubmit('formInline')">Signin</Button>
                </FormItem>
            </Form>
            
        </div>
        
    </div>
</div>
</template>
<script>
import dashboard from '../users/pages/dashboard.vue'
export default {
  components: { dashboard },
    data () {
            return {
                wait: false,
                formInline: {
                    email: '',
                    password: '',
                },
                ruleInline: {
                    email: [
                        { required: true, message: 'Mailbox cannot be empty', trigger: 'blur' },
                        { type: 'email', message: 'Incorrect email format', trigger: 'blur' }
                    ],
                    password: [
                        { required: true, message: 'Please fill in the password.', trigger: 'blur' },
                        { type: 'string', min: 6, message: 'The password length cannot be less than 6 bits', trigger: 'blur' }
                    ]
                }
            }
        },
        methods: {
            onEnter(){
                this.i('on enter event')
            },
            handleSubmit(name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        this.dataSubmit()
                    } else {
                        this.e('You Fail fill area !');
                    }
                })
            },
            async dataSubmit(){
                this.wait = true
                const res = await this.callApi("post", "user/login_user", this.formInline)
                this.wait = false
                if(res.status == 200){
                    this.s("You have successfully pass login")
                    window.location = '/dictonary'
                }else{
                    if(res.status == 422){
                        for(let i in res.data.errors){
                            this.e(res.data.errors[i][0])
                        }
                    }else{
                        if(res.status)
                        this.swr()//Qandaydir Xatolik bo`lsa notice da chiqaradi
                    }
                }
                }
        }
    }
</script>
