<template>
<div> 
    <div v-if="VerifyEmailDiv"  style="
    width: 30%;
    height: 110px;
    margin: 200px 0px 0px 450px;
    border:1px solid #aaa;
    border-radius:2px;
    box-shadow: 0px 0px 10px;
    padding: 10px;">
        Send Verify Code to {{formValidate.email}}
                        <div class="space_top">
                            <Input clearable v-model="VerifyEmailCodeInput"  style="width: 100%" :autofocus="true"/>
                        </div>
                   
                        <div style="float:right;margin:5px;" >
                            <Button :disabled="!VerifyButton" type="default" @click="VerifyEmailModalCancel">Cancel</Button>
                            <Button :loading="!VerifyButton" type="primary" @click="VerifyEmailModalOk">Ok</Button>
                        </div>
    </div>  
    <div v-if="!VerifyEmailDiv" style="border:1px solid #aaa;border-radius:2px;padding:10px;width: 50%;margin: 40px 0 0 350px;box-shadow: 0px 0px 20px;">
        
        <div >
            <div style="text-align: right;margin: 0 5px 0 0">
            <router-link  to="/login" slot="extra" >
                Back
            </router-link>
            </div>
           <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80">
            <FormItem label="Name" prop="name">
                <Input v-model="formValidate.name" placeholder="Enter your name" :autofocus="true"></Input>
            </FormItem>
            <FormItem label="E-mail" prop="email">
                <Input v-model="formValidate.email" placeholder="Enter your e-mail"></Input>
            </FormItem>
            <FormItem label="Password" prop="password">
                <Input type="password" v-model="formValidate.password" placeholder="Enter your password"></Input>
            </FormItem>
            <FormItem label="Password" prop="r_password">
                <Input type="password" v-model="formValidate.r_password" placeholder="Enter the password again"></Input>
            </FormItem>
            <!-- <FormItem label="City" prop="city">
                <Select v-model="formValidate.city" placeholder="Select your city">
                    <Option value="beijing">New York</Option>
                    <Option value="shanghai">London</Option>
                    <Option value="shenzhen">Sydney</Option>
                </Select>
            </FormItem>  -->
            <FormItem label="Gender" prop="gender">
                <RadioGroup v-model="formValidate.gender">
                    <Radio label="male">Male</Radio>
                    <Radio label="female">Female</Radio>
                </RadioGroup>
            </FormItem>
            <FormItem>
                <div class="form-group" v-bind:class="{ mx_recaptcha_failed: !recaptcha }">
                    <vue-recaptcha
                        sitekey="6Lf4F3gaAAAAAAvdoGKjvNOjy-h6CGujkV6VyQQA"
                        @verify="mxVerify"
                    ></vue-recaptcha>
			    </div>
            </FormItem>
            <FormItem>
                <Button :loading="!SubmitButton" type="primary" @click="handleSubmit('formValidate')">Submit</Button>
                <Button @click="handleReset('formValidate')" style="margin-left: 8px">Reset</Button>
            </FormItem>
        </Form> 
        
        </div>
    </div>

</div>
</template>
<script>
import VueRecaptcha from 'vue-recaptcha';
    export default {
        components: { VueRecaptcha },
        data () {
            return {
                VerifyEmailDiv: false,
                VerifyEmailCode: '',
                VerifyEmailCodeInput: '',
                VerifyButton: true,
                recaptcha: null,
                SubmitButton: true,
                formValidate: {
                    name: '',
                    email: '',
                    password: '',
                    r_password: '',
                    city: '',
                    gender: '',
                },
                ruleValidate: {
                    name: [
                        { required: true, message: 'The name cannot be empty', trigger: 'blur' }
                    ],
                    email: [
                        { required: true, message: 'Mailbox cannot be empty', trigger: 'blur' },
                        { type: 'email', message: 'Incorrect email format', trigger: 'blur' }
                    ],
                    password:[
                        {required: true, message: 'First Password cannot be empty', trigger: 'blur'}
                    ],
                    r_password:[
                        {required: true, message: 'Second Password cannot be empty', trigger: 'blur'}
                    ],
                    city: [
                        { required: true, message: 'Please select the city', trigger: 'change' }
                    ],
                    gender: [
                        { required: true, message: 'Please select gender', trigger: 'change' }
                    ],
                    
                }
            }
        },
        methods: {
            async VerifyEmailModalOk(){
                //console.log(this.VerifyEmailCode)
                //console.log(this.VerifyEmailCodeInput)
                if(this.VerifyEmailCode == this.VerifyEmailCodeInput.trim()){
                    this.s("Correct Code!!!")
                    this.VerifyButton = false
                    this.dataSubmit()
                }else{
                    this.e("Wrong code!!!")
                }
            },
            VerifyEmailModalCancel(){
                this.SubmitButton = true
                this.VerifyEmailDiv = false
            },
            mxVerify( response ) {
                //console.log(response)
                this.recaptcha = response
            },
            handleSubmit (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        
                        if(this.formValidate.password != this.formValidate.r_password){
                            this.e("Two passwords are not equal to each other")
                        }else{
                            this.sendEmail()
                        }
                    } else {
                        this.e('You filled in the fields NoCorrectly!');
                    }
                })
            },
            handleReset (name) {
                this.$refs[name].resetFields();
            },
            async sendEmail(){
                if(this.recaptcha == null) return this.w("Mark the recaptcha")
                this.SubmitButton = false
                const res = await this.callApi("post", "user/send_email", this.formValidate)
                if(res.status == 200){
                    this.VerifyEmailDiv = true
                    let test = res.data.code
                    let d = parseInt(test[20])
                    if(d == 0 ) d = 9
                    for(let i=1;i<=5;i++){
                        this.VerifyEmailCode += test[d*i]
                    }
                }else{
                    this.SubmitButton = true
                }
            },
            async dataSubmit(){
                //if(this.recaptcha == null) return this.w("Mark the recaptcha")
                
                const res = await this.callApi("post", "user/register_user", this.formValidate)
                if(res.status == 201){
                    this.s("You have successfully registered")
                    window.location = '/login'
                }else{
                    if(res.status==422){ //Status 422 bo`lsa ya`ni back end ning validatsiyasidan o`tmasa
                        this.e("Your Submit Data Not Validate");
                        if((res.data.errors.Name)){
                            this.e(res.data.errors.tagName[0])//back enddan data.errors.tagName dan qanday xato bo`lganini xabari keladi
                        }
                    }else{
                        this.swr()//Qandaydir Xatolik bo`lsa notice da chiqaradi
                    }
                }

            }
        }
    }
</script>
